#date_time_range {
  display: flex;
  gap: 10px;
  align-items: center;
}

#date_time_range label {
  min-width: 112px;
  margin-right: 8px;
}

#date_time_range button {
  padding: 6px 10px;
  color: #5368d5;
  border: none;
  background: #e2e8f0;
  border-radius: 4px;
}
#date_time_range button:hover {
  color: #e2e8f0;
  background: #5368d5;
}
.words {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid;
  margin-bottom: 6px;
}
.words__word{
  min-width: 120px;
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.list-group {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.list-group-item{
  margin: 5px;
  list-style-type: none;
  background-color: #f8fafc;
  align-items: center !important;
  gap: 4px;
}

.list-group-numbered>li:before{
  display: none !important;
  content: ''
}
.list-group-item+.list-group-item{
  border-top-width: 1px !important;
}