{% block _Event_schema_widget %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        #controls {
            margin-bottom: 10px;
        }
    </style>
    <div id="controls">
        <button type="button" class="btn btn-primary" id="addChairBtn">Добавить место</button>
    </div>
    <div id="canvas-container">
        <canvas id="canvas" width="600"></canvas>
    </div>

    <div id="placeSelectModal">
        <div class="modal-dialog fade show" id="placeSelectModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="placeSelectModalLabel">Выберите объект</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select form-select-sm mb-4 mt-3" id="placesSelect" autocomplete="off">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmObject" class="btn btn-primary">Подтвердить</button>
                    <button type="button" id="cancelObject" class="btn btn-secondary" data-bs-dismiss="modal">Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Информация о месте</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="infoContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}s